.woocommerce .form-table details {
}

.woocommerce .form-table details summary {
    list-style: none;
    color: #2271b1;
    border: 1px solid #2271b1;
    border-radius: 4px;
    height: 34px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    background: #f6f7f7 url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
    background-size: 16px 16px;
}

.woocommerce .form-table details summary::-webkit-details-marker {
    display:none;
}

.woocommerce table.form-table table select {
    width: 100%;
}