.payoneInput {
    -webkit-appearance: textfield;
    background-color: white;
    font-size: 1rem;
    border: 1px solid black;
    padding: 1px;
    color: black;
    outline: initial;
    box-shadow: none;
    margin: 0;
    font-family: system-ui;
}
.payoneSelect {
    -webkit-appearance: menulist;
    background-color: white;
    font-size: 1rem;
    border: 1px solid black;
    padding: 0;
    color: black;
    outline: initial;
    box-shadow: none;
    margin: 0;
    font-family: system-ui;
}
#expireInput {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
